Hello? Is that Timeless hostel? How to get there, please? 
Let me talk to the driver ,please. I will tell the driver the address in Chinese--丽江古城区金虹路 北门坡加油站石油公司 斜对面文明村路口(去市一中北门的路)进古城第一个十字路口右拐第二个客栈 久居丽江客栈。Then I will talk to you about what I told the driver. what you only to do is just call me when you get off the taxi.(see? no problem.)
Can I rent a towel？ （some customers who live in dormitory might ask）
Sure, by the way, 3RMB per towel.
Can you arrange pick up service from the airport  or train station?
Yes, we can.
Could you book bus tickets or train tickets for customers? 
No problem, we can do that.
Can I leave my luggage here?
No doubt，you can put you luggage into our storage room ,for free definitely.
Can I do laundry？Where’s the laundry room？And where can I hang my clothes？
We have a laundry room in the backyard on the second floor (the staffs can lead you there )，we got automatic washing machines and a dryer.8元/load ,please. The roof is just above the laundry room, you can hang clothes up there.
What’s the best tour season in Lijiang？
Lijiang is a place where you can have a look in four seasons. However, more travelers come here from  May to the end of October.
How can I get to the Black Dragon pool park？
distance—2KM.time：20 minutes walking ； Theoretically, walk along with the JIN HONG Rd. for 750M you will get Yu Yuan Rd，then turn to north to walk for 300m plus。（The easier way is that I will show you the map, and point out the location and routes to get there, I even can jot the name down in Chinese, so that you can show people in case you get lost.）
Do you have any restaurants to recommend？
Local food--88号小吃店（NAXI SNACKS），天天鲜(Tian tian xian)； Western food---N’s kitchen (tiny square street)。 Of course，our staffs will point out the locations and the routes on the map ,for you.
Can you tell me how to get to SHUHE,BAISHA, please?
we prepared  a  map of this area ,you can take copies  for free .distance to SHUHE is 8KM 40minutes by bike（recommended ）；To BAISHA is 10KM， 50minutes by bike（recommended）。By the way, you can take  the bus NO.11 to SHUHE, you have to go to ZHONGYI Market to get one.
I want go to Jade Dragon snow mount. How much? How to get there?
Hire a minivan，we can arrange a one-day tour mini van ( the driver is yours in the whole day, you can ask to visit Baisha, Jade Water village, Yuhu village after the snow mountain.) ,low season is 300RMB，normally,350RMB）. Or you can take a minivan to the snow mount. One way,20/人.definitely, you can take a taxi ,it takes 50 about minutes.
I will go to DALI，by train or by bus? Which one is better?
By train, cheaper, but the train station is in the new town ；By bus，the driver can drop you off in the old town, more convenient.
Do you recommend any places in the old town?
Like Lion Hill，Black dragon pool，Mu’s house, square street ,water wheels, ect. normally, we would like to communicate with customers, try to know their unique requirements ,then we recommend based on that.（For instance, someone likes saving money, some prefer quiet places，some people would like to visit as many as possible；so, it should be more flexible to recommend, isn’t it?）
How to get to Shaxi？
You have to take a bus to JianChuan county，2 hours，23RMB/person；Then, transmit to the minivan ，approximately ,15 /person .Or，hire a minivan，we can arrange it if you want.
How far from Lijiang to Shangri-la？
It takes about  4 hours ,by bus.
How far from Lijiang to Lugu Lake?
it takes 7-9 hours by bus,100RMB.Or,you still can book the seats of our shuttle bus.
What’s the price of the pick-up service from your hostel?
50RMB/van  from the train station ; 100RMB/van,from the airport（7：00am-11:00pm）,120RMB/van,earlier than 7 am or later than 11pam.
How far to the train station?  The airport?
12KM，25minutes by taxi；28.7km，35—40minutes by taxi.
I would like to go to the TLG for hiking. Could you please introduce tiger leaping gorge to me？Thank you.
There is a map of  Tiger leaping gorge on the wall .I will introduce all the information based on the map.----Firstly, we arrange the shuttle bus at 7:20 am every morning,40RMB per person .It takes 2.5 hours from Lijiang to QiaoTou  where you will start hiking. You will spend the first night on the mountain. mostly, hikers can cover the way to the Tea Horse guesthouse after  5-6 hours hiking；or the Halfway Hostel( you have to walk for more 1.5-2 hours from Tea Horse).The next morning, you will keep going to get Tina’s guesthouse，it takes 2 hours；Then, you can 2-3hours to visit the whole middle tiger leaping gorge area, After, you will take the shuttle bus from Tina’s to Lijiang at 3:30 pm,55RMB,3 hours .By the way, you ca n also take the shuttle bus to Shangri-la from Tina’s at the same time.
I have only one day to visit Tiger Leaping Gorge? What should I do?   (sometimes, some senior people who think the hiking is too much will also have the same question)
You can take the same shuttle bus to the Tina’s, that means you don’t need to climb the mountain .However, you will have enough time to visit the one of the most breathtaking part ---the area of middle tiger leaping gorge.
Do I need to book the guesthouse or hostel on the mountain?
normally, you don’t need to .There are  guesthouse out there, and much less travelers compare to Lijiang. not that easy to cover the way for everyone. To some extend, only hikers get there.  
Oh,the shuttle bus is pretty early, can I have breakfast before leaving?
You can order breakfast in Robin’s dinner which is inside our hostel the night before if you want. So that you will get enough time to have your breakfast before leaving. Definitely, you can also buy snacks to eat or just go outside to find something to eat. Just make sure that you won’t be late to catch the shuttle bus with us.
I already booked the room for tomorrow night. But I would like to go to TLG tomorrow. Could you change my reservation to the day after tomorrow?
Of course, no problem.
I would like to go to Shangri-la directly from the TLG, is that possible？
Yes, you can do that .there is a shuttle bus from Tina’s to Shangri-La at 3:30 every afternoon.
So, what about my luggage？
Our driver can carry your luggage to Tina’s，so that you can pick them from Tina’s storage room when you get there the next day.
If I choose one-day trip in TLG，can I buy the return way ticket?
Sure, no problem.