.ul-white {
	background-color: white;
}

.ul-center {
	text-align: center;
}

.h-center {
	text-align: center;
}

.span-white {
	background-color: white;
}

.p-text-center {
	text-align: center;
}
